music-store {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#fff,#ffd6d6);
}

header {
    height: 150px;
    width: 100%;
    margin: auto;
    display: flex;
}

header-logo {
    display: block;
    background-image: url('/images/logo.jpg');
    background-repeat: no-repeat;
    background-size: 150px;
    margin-left: 50px;
    margin-top: 5px;
    width: 600px;  
    height: 300px;
    transition: 4s;
}

heading {
    display: block;
    line-height: 150px;
    color: rgb(92, 87, 87);
    padding-right: 80px;
    font-family: cursive;
    font-size: 2em;
}

header-title{
    display: block;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    font-family: cursive;
}

store-details {
    width: 99.75%;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    line-height: 30px;
    font-size: 1.4em;
    border: 2px solid rgb(122, 119, 119);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding-bottom: 10px;
}

store-name {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    transition: 2s;
    cursor: pointer;
}

store-name:hover {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    font-size: 1.7em;
    transition: .5s;
    cursor: pointer;
}

address {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    transition: 2s;
    cursor: pointer;
}

address:hover {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    font-size: 1.7em;
    transition: .5s;
    cursor: pointer;
}

telephone-number {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    transition: 2s;
    cursor: pointer;
}

telephone-number:hover {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    font-size: 1.7em;
    transition: .5s;
    cursor: pointer;
}

website {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    transition: 2s;
    cursor: pointer;
}

website:hover {
    display: inline-block;
    margin-right: 40px;
    line-height: 30px;
    font-size: 1.7em;
    transition: .5s;
    cursor: pointer;
}


song-details {
    padding-top: 10px;
    display: flex;
    padding: 20px;
    margin: 30px 20px 0 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 5px 8px 10px #aaa9a9;
    cursor: pointer;
}

details {
    float: left;
    flex: 80%;
}

title, description, song_name, genre, name_of_director, writer, producer, main_producer, co_producer, 
main_writer, co_writer, Singer_name, Singer_age, Singer_gender, Singer_country, release_year, band {
    display: block;
}

title, description, song_name, genre, name_of_director, writer, producer, main_producer, co_producer, 
main_writer, co_writer, Singer_name, Singer_age, Singer_gender, Singer_country, release_year, band:hover {
    display: block;
}


title {
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    border-bottom: 3px solid rgb(97, 94, 94);
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}



description {
    text-align: justify;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding-bottom: 6px;
    border-bottom: 3px solid #000;
    margin-bottom: 15px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 3px 2px 5px rgb(144, 151, 151);
}

song_name, genre, name_of_director, producer, writer, release_year, band, main_producer, 
co_producer, main_writer, co_writer, Singer_name, Singer_age, Singer_gender, Singer_country {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin-left: 20px;
    padding-bottom: 5px;
    display: list-item;
    list-style-type:disc;
    transition: 3s;
}

song_name:hover, genre:hover, name_of_director:hover, producer:hover, writer:hover, release_year:hover, band:hover, main_producer:hover, 
co_producer:hover, main_writer:hover, co_writer:hover, Singer_name:hover, Singer_age:hover, Singer_gender:hover, Singer_country:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    padding-bottom: 5px;
    display: list-item;
    list-style-type:disc;
    font-size: 1.7em;
    transform: translateX(20px);
    transition: .5s;
}

main_producer, co_producer {
    display: block;
    display: list-item;
    list-style-type:disc;
}

main_writer, co_writer {
    display: block;
    display: list-item;
    list-style-type:disc;
}


Singer_name, Singer_age, Singer_gender, Singer_country {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
    display: list-item;
    list-style-type:disc;
}

image_1 {
    flex: 20%;
    display: block;
    background-image: url('images/what_it_feels_like_for_a_girl.png');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    float: right;
    margin-top: 120px;
    margin-left: 30px;
    transition: .5s;
}

image_1:hover {
    flex: 20%;
    display: block;
    background-image: url('images/what_it_feels_like_for_a_girl.png');
    background-repeat: no-repeat;
    width: 800px;
    float: left;
    margin-top: 120px;
    margin-left: 30px;
    transform: translateX(-20px);
    transition: .5s;
}

image_2 {
    flex: 20%;
    display: block;
    background-image: url('images/believer.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_2:hover {
    flex: 20%;
    display: block;
    background-image: url('images/believer.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;    
    transform: translateX(-20px);
    transition: .5s;
}

image_3 {
    flex: 20%;
    display: block;
    background-image: url('images/memories.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;  
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_3:hover {
    flex: 20%;
    display: block;
    background-image: url('images/memories.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;  
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_4 {
    flex: 20%;
    display: block;
    background-image: url('images/levitating.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_4:hover {
    flex: 20%;
    display: block;
    background-image: url('images/levitating.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_5 {
    flex: 20%;
    display: block;
    background-image: url('images/break_my_heart.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_5:hover {
    flex: 20%;
    display: block;
    background-image: url('images/break_my_heart.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_6 {
    flex: 20%;
    display: block;
    background-image: url('images/friends.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_6:hover {
    flex: 20%;
    display: block;
    background-image: url('images/friends.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_7 {
    flex: 20%;
    display: block;
    background-image: url('images/at_my_worst.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_7:hover {
    flex: 20%;
    display: block;
    background-image: url('images/at_my_worst.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_8 {
    flex: 20%;
    display: block;
    background-image: url('images/mess.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_8:hover {
    flex: 20%;
    display: block;
    background-image: url('images/mess.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_9 {
    flex: 20%;
    display: block;
    background-image: url('images/psycho.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_9:hover {
    flex: 20%;
    display: block;
    background-image: url('images/psycho.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_10 {
    flex: 20%;
    display: block;
    background-image: url('images/lonely.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_10:hover {
    flex: 20%;
    display: block;
    background-image: url('images/lonely.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_11 {
    flex: 20%;
    display: block;
    background-image: url('images/closer.png');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_11:hover {
    flex: 20%;
    display: block;
    background-image: url('images/closer.png');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_12 {
    flex: 20%;
    display: block;
    background-image: url('images/dance_monkey.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_12:hover {
    flex: 20%;
    display: block;
    background-image: url('images/dance_monkey.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_13 {
    flex: 20%;
    display: block;
    background-image: url('images/sweet_but_psycho.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_13:hover {
    flex: 20%;
    display: block;
    background-image: url('images/sweet_but_psycho.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_14 {
    flex: 20%;
    display: block;
    background-image: url('images/rap_god.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_14:hover {
    flex: 20%;
    display: block;
    background-image: url('images/rap_god.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

image_15 {
    flex: 20%;
    display: block;
    background-image: url('images/pretty_girl.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transition: .5s;
}

image_15:hover {
    flex: 20%;
    display: block;
    background-image: url('images/pretty_girl.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 800px;    
    margin-top: 120px;
    margin-left: 30px;
    float: left;
    transform: translateX(-20px);
    transition: .5s;
}

